
<body>


    <div class="cover">
    </div>
    <div class="section1">
        <hr>
        <p> Klarna was founded in Stockholm, Sweden and is Europe’s highest <br>valued private fintech company. We offer
        </p>
        <div class="container">
            <div class="row">
                <div class="card col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <img class="card-img-top" data-aos="fade-up-right"
                        src="https://www.klarna.com/assets/sites/2/2020/11/24024801/Sleeper-30-516x500.jpg.webp"
                        alt="Card image cap">
                    <div class="card-body" data-aos="flip-up">
                        <h5 class="card-title">Sale</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <img class="card-img-top" data-aos="fade-up"
                        src="https://www.klarna.com/assets/sites/2/2020/11/23033637/upwest-30-2-516x500.jpg.webp"
                        alt="Card image cap">
                    <div class="card-body" data-aos="flip-up">
                        <h5 class="card-title">Sale</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.</p>
                    </div> 
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <img class="card-img-top" data-aos="fade-up-left"
                        src="https://www.klarna.com/assets/sites/2/2020/05/23071835/shein80-2-516x500.jpg.webp"
                        alt="Card image cap">
                    <div class="card-body" data-aos="flip-up">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <div class="section2">

    </div>
    <div class="section3">
        <div class="container">
            <div class="row">


                <div class="myCard col-ld-3 col-md-3 col-sn-6" data-aos="fade-up-right">
                    <img src="https://images.squarespace-cdn.com/content/v1/5a1431a1e5dd5b754be2e0e9/1595933419668-LOI23HGYLNIJXDS729OC/ke17ZwdGBToddI8pDm48kEhRb-mGDiEi0xC18_AR20gUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcIhmhaf0_y3jP90sctjPbyJl_LgGHVX5eJAayYAVUQeLJuPsDj2XpL8L_ZrvpLsfK/s3-news-tmp-90538-untitled_design_-_2019-12-09t130918.786--default--1200.png"
                        width="200" height="150">
                    <h2>Further reading</h2>
                    <p>In 2018, Klarna reported that it had more than 60 million users and some 90,000 online merchants
                        have so far hired it to run their checkouts</p>
                </div>

                <div class="myCard col-ld-3 col-md-3 col-sn-6" data-aos="fade-up-right">
                    <img src="https://media.bizj.us/view/img/11309423/klarna-columbus-lobby*1200xx4032-2274-0-0.jpg"
                        width="200" height="150">
                    <h2>Technology</h2>
                    <p>Parts of Klarna's code base are written in Erlang, a programming language designed by Ericsson
                        for highly parallel, scalable applications.</p>
                </div>

                <div class="myCard col-ld-3 col-md-3 col-sn-6" data-aos="fade-up-left">
                    <img src="https://i.inews.co.uk/content/uploads/2020/07/PRI_156519625.jpg" width="200" height="150">
                    <h2>History</h2>
                    <p>The three founders Sebastian Siemiatkowski, Niklas Adalberth and Victor Jacobsson participated in
                        the Stockh</p>
                </div>

                <div class="myCard col-ld-3 col-md-3 col-sn-6" data-aos="fade-up-left">
                    <img src="https://foreseeti.com/wp-content/uploads/2020/09/464810_1280.jpg" width="200"
                        height="150">
                    <h2>Pay on telphon</h2>
                    <p>Klarna is one of Europe’s largest banks and is providing payment solutions for 85 million
                        consumers .</p>

                </div>
            </div>
            <div>
                
            </div>
        </div>
    </div>
<div class="cover3">
        <div class="container">
            <div class="section5">
               <h3 style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
                color: rgb(114, 50, 80);" >Learn more</h3>
            </div>
            <div class="div1">
                <p>
                    <div>

                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br> 
                      
                    </div>
                  

                    <a  class="button-7" href="https://uk-ua.facebook.com/"><span>Войти в телеграм</span></a>                 
                    <a  class="button-8" href="https://uk-ua.facebook.com/"><span>Войти в телеграм</span></a>   
                    <a  class="button-9" href="https://uk-ua.facebook.com/"><span>Войти в телеграм</span></a>   
                    <a  class="button-10" href="https://uk-ua.facebook.com/"><span>Войти в телеграм</span></a>   
                    <a  class="button-11" href="https://uk-ua.facebook.com/"><span>Войти в телеграм</span></a>   
                    <a  class="button-12" href="https://uk-ua.facebook.com/"><span>Войти в телеграм</span></a>   
        </div>
    </div>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

